[Unit]
Description=UART to USB logger service
#After=network.target

[Service]
Type=idle
#WorkingDirectory=/home/pi
ExecStart=/bin/bash /opt/raspberrypi-uart-logger/startup_script.sh
#StandardInput=inherit
#StandardOutput=inherit
#User=pi

[Install]
WantedBy=multi-user.target
